/**********
Base Styles
**********/

html {
  font-size: 62.5% /* equivalent to 10px ( 16px * .625  ) */ 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background: #333745;
}

/********
Header
********/

.header {
  color: white;
  background: #20222b;
  margin-bottom: 3.8rem;
  padding: 1.6rem 0;
}

.header h1 {
  font-size: 3.5rem;
  margin: 0;
}

.header h2 {
  color: #a5afd7;
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0;
}

/***********
Main Styles
***********/

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/************
Button Styles
************/

.big-button {
  background: #8357c5;
  color: white;
  border: none;
  font-size: 3.6rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 2rem;
  padding: 2.4rem;
  border-bottom: .6rem solid #513685;
}

.big-button:disabled{
  opacity: .5;
  cursor: default;
}

button{
  cursor: pointer;
}

.button {
  background: #8357c5;
  border: none;
  color: white;
  font-weight: 500;
  padding: 1.2rem;
}

.button-link {
  background: none;
  border: none;
  color: #a5afd7;
  padding: 0;
}

/*****************
Options Container
*****************/

.options-header {
background: #3c4251;
color: #a5afd7;
padding: 2rem;
display: flex; /* flexbox */
justify-content: space-between; /* space-around */
}

.options-header h3 {
  margin: 0;
}

.options-body {
background: #464b5e;
margin-bottom: 2rem;
}

.options-message {
  color: #a5afd7;
  margin: 0;
  padding: 3.6rem;
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  border-bottom: 1px solid lightslategray;
}

.option-list {
  display: flex;
  justify-content: space-between;
  padding: 3rem 2rem;
  border-bottom: 1px solid lightslategray;
}

.add-option {
  display: flex;
  padding: 3rem;
  flex-direction: column;
}

.add-option-text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
  word-break: break-all;
}

.add-option-input {
  flex-grow: 1;
  background: #20222b;
  border: 1px solid black;
  margin: 0 0 1rem 0;
  color: white;
  padding: 1rem;
  border: none;
}

.add-option-error{
  color: white;
  font-style: italic;
  padding: 0 2rem;
  margin: 2rem 0 0 0;
}

/************
Modal Styles
*************/

.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
} 

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
} 

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
} 

.modal {
  max-width: 30rem;
  background: #464b5e;
  color: white;
  outline: none;
  padding: 3rem;
  text-align: center;
}

.modal-title {
margin: 0 0 2rem 0;
}

.modal-body {
  font-size: 2rem;
  margin: 0 0 3rem 0;
  word-break: break-all;
}

/************
Media Queries
*************/

@media (min-width: 45rem) { /* 450px Desktop Breakpoint*/
 .add-option {
   flex-direction: row;
 }
 .add-option-input {
   margin: 0 1rem 0 0;
 }
 .add-big-button {
   margin-bottom: 3rem;
 }
 .header {
   margin-bottom: 4.8rem;
 }
}
